<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.base.model.mapper.TemaMapper">
  <resultMap id="TemaResultMap" type="com.pusilkom.base.dto.TemaDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nama" jdbcType="VARCHAR" property="nama" />
    <result column="namaKelompokTkt" jdbcType="VARCHAR" property="namaKelompokTkt" />
    <result column="idKelompokTkt" jdbcType="VARCHAR" property="idKelompokTkt" />
  </resultMap>

  <select id="getListTemaDTO" resultMap="TemaResultMap">
    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>
  </select>
  <sql id="Main_Query">
    select t.id, t.nama
    from tema t
  </sql>
  <sql id="Criteria_Where_Clause">
    <where>
      <if test="searchForm.id != null">
        AND t.id = #{searchForm.id}
      </if>
    </where>
  </sql>
</mapper>