<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.base.model.mapper.BukuMapper">
  <resultMap id="BukuResultMap" type="com.pusilkom.base.dto.BukuDTO">
    <result column="id_output" jdbcType="INTEGER" property="idOutput" />
    <result column="nama_penerbit" jdbcType="VARCHAR" property="namaPenerbit" />
    <result column="tahun_terbit" jdbcType="CHAR" property="tahunTerbit" />
    <result column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="jumlah_halaman" jdbcType="INTEGER" property="jumlahHalaman" />
    <result column="urlOutput" jdbcType="VARCHAR" property="urlOutput" />
    <result column="namaJenisOutput" jdbcType="VARCHAR" property="namaJenisOutput" />
    <result column="namaPeranPenulis" jdbcType="VARCHAR" property="namaPeranPenulis" />
    <result column="idPenulisOutput" jdbcType="VARCHAR" property="idPenulisOutput" />
    <result column="idPenelitian" jdbcType="INTEGER" property="idPenelitian" />
    <result column="idPeranPeneliti" jdbcType="INTEGER" property="idPeranPeneliti" />
  </resultMap>

  <select id="getListBukuDTO" resultMap="BukuResultMap">
    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>
  </select>
  <sql id="Main_Query">
    select b.*, o.url as urlOutput, o.judul as judul, o.path_file as pathFile,
    jo.nama as namaJenisOutput, ppo.nama as namaPeranPenulis,
    po.id as idPenulisOutput, o.id_penelitian as idPenelitian, tp.id_peran_peneliti as idPeranPeneliti
    from buku b
    left join output o on b.id_output = o.id
    left join jenis_output jo on jo.id = o.id_jenis_output
    left join penulis_output po on po.id_output = o.id
    left join peneliti p on p.id = po.id_peneliti
    left join peran_penulis_output ppo on ppo.id = po.id_output
    left join tim_peneliti tp on (tp.id_penelitian = o.id_penelitian and tp.id_peneliti = p.id)
  </sql>
  <sql id="Criteria_Where_Clause">
    <where>
      AND jo.kelompok_output ilike 'buku'
      <if test="searchForm.idOutput != null">
        AND b.id_output = #{searchForm.idOutput}
      </if>
      <if test="searchForm.idUser != null">
        AND p.id_user = #{searchForm.idUser}
      </if>
    </where>
  </sql>
</mapper>